{
  "openapi": "3.0.3",
  "info": {
    "title": "User Manager API",
    "description": "API documentation for User Manager service",
    "version": "v0.5"
  },
  "servers": [
    {
      "url": "http://services.modapto.atc.gr",
      "description": "Generated server url"
    }
  ],
  "paths": {
    "/api/users/update": {
      "put": {
        "tags": [
          "user-manager-controller"
        ],
        "summary": "Update user's information in Keycloak",
        "operationId": "updateUser",
        "parameters": [
          {
            "name": "userId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UserDTO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "User updated successfully",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponseString"
                }
              }
            }
          },
          "400": {
            "description": "Validation failed",
            "content": {
              "*/*": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/BaseResponseMapStringString"
                    },
                    {
                      "$ref": "#/components/schemas/BaseResponseString"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponseMapStringString"
                }
              }
            }
          },
          "403": {
            "description": "User of type 'ADMIN' can only update user's inside their organization",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponseMapStringString"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponseString"
                }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponseString"
                }
              }
            }
          },
          "500": {
            "description": "Unable to update user in Keycloak",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponseString"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerToken": []
          }
        ]
      }
    },
    "/api/users/reset-password": {
      "put": {
        "tags": [
          "user-manager-controller"
        ],
        "summary": "Reset user's password functionality given a reset token",
        "operationId": "resetPassword",
        "parameters": [
          {
            "name": "token",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "string"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Email sent successfully to user",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponseString"
                }
              }
            }
          },
          "400": {
            "description": "Validation Error",
            "content": {
              "*/*": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/BaseResponseMapStringString"
                    },
                    {
                      "$ref": "#/components/schemas/BaseResponseString"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponseMapStringString"
                }
              }
            }
          },
          "403": {
            "description": "Reset token is wrong or there is no reset token for specific user. Please contact the admin of your organization",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponseMapStringString"
                }
              }
            }
          },
          "404": {
            "description": "User with this ID not found in Keycloak",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponseString"
                }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponseString"
                }
              }
            }
          },
          "500": {
            "description": "Unable to reset user's password in Keycloak",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponseString"
                }
              }
            }
          }
        }
      }
    },
    "/api/users/change-password": {
      "put": {
        "tags": [
          "user-manager-controller"
        ],
        "summary": "Change user's password in Keycloak",
        "operationId": "changePassword",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PasswordDTO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "User's password updated successfully",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponseAuthenticationResponseDTO"
                }
              }
            }
          },
          "400": {
            "description": "Validation failed",
            "content": {
              "*/*": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/BaseResponseMapStringString"
                    },
                    {
                      "$ref": "#/components/schemas/BaseResponseString"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Invalid authorization credentials provided.",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponseMapStringString"
                }
              }
            }
          },
          "403": {
            "description": "Invalid authorization parameters. Check JWT or CSRF Token",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponseMapStringString"
                }
              }
            }
          },
          "404": {
            "description": "User with this ID not found in Keycloak",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponseString"
                }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponseString"
                }
              }
            }
          },
          "500": {
            "description": "Unable to update user's password in Keycloak",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponseString"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerToken": []
          }
        ]
      }
    },
    "/api/admin/roles/{roleName}": {
      "get": {
        "tags": [
          "admin-controller"
        ],
        "summary": "Retrieve a User Role",
        "operationId": "retrieveUserRole",
        "parameters": [
          {
            "name": "roleName",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "User role retrieved successfully",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/UserRoleDTO"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request: either credentials or token must be provided!",
            "content": {
              "*/*": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/BaseResponseMapStringString"
                    },
                    {
                      "$ref": "#/components/schemas/BaseResponseString"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Authentication process failed!",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponseMapStringString"
                }
              }
            }
          },
          "403": {
            "description": "Invalid authorization parameters. Check JWT or CSRF Token",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponseMapStringString"
                }
              }
            }
          },
          "404": {
            "description": "User role not found in Keycloak",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponseString"
                }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponseString"
                }
              }
            }
          },
          "500": {
            "description": "Unable to retrive the user role",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponseString"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerToken": []
          }
        ]
      },
      "put": {
        "tags": [
          "admin-controller"
        ],
        "summary": "Update a User Role",
        "operationId": "updateUserRole",
        "parameters": [
          {
            "name": "roleName",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UserRoleDTO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "User role updated successfully",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponseVoid"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request: either credentials or token must be provided!",
            "content": {
              "*/*": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/BaseResponseMapStringString"
                    },
                    {
                      "$ref": "#/components/schemas/BaseResponseString"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Authentication process failed!",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponseMapStringString"
                }
              }
            }
          },
          "403": {
            "description": "User of role 'SUPER_ADMIN' can only convert a pilot role into 'SUPER_ADMIN'",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponseMapStringString"
                }
              }
            }
          },
          "404": {
            "description": "User role not found in Keycloak",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponseString"
                }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponseString"
                }
              }
            }
          },
          "500": {
            "description": "Unable to create and store the new role",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponseString"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerToken": []
          }
        ]
      },
      "delete": {
        "tags": [
          "admin-controller"
        ],
        "summary": "Delete a User Role",
        "operationId": "deleteUserRole",
        "parameters": [
          {
            "name": "roleName",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "User role deleted successfully",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponseVoid"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request: either credentials or token must be provided!",
            "content": {
              "*/*": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/BaseResponseMapStringString"
                    },
                    {
                      "$ref": "#/components/schemas/BaseResponseString"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Authentication process failed!",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponseMapStringString"
                }
              }
            }
          },
          "403": {
            "description": "User of role 'ADMIN' can only delete a role only inside their organization",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponseMapStringString"
                }
              }
            }
          },
          "404": {
            "description": "User role not found in Keycloak",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponseString"
                }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponseString"
                }
              }
            }
          },
          "500": {
            "description": "Unable to to delete the user role",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponseString"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerToken": []
          }
        ]
      }
    },
    "/api/users/refresh-token": {
      "post": {
        "tags": [
          "user-manager-controller"
        ],
        "summary": "Refresh user Token",
        "operationId": "refreshToken",
        "parameters": [
          {
            "name": "token",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Authentication token generated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthenticationResponseDTO"
                }
              }
            }
          },
          "400": {
            "description": "Invalid / No input was given for requested resource",
            "content": {
              "*/*": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/BaseResponseMapStringString"
                    },
                    {
                      "$ref": "#/components/schemas/BaseResponseString"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Authentication process failed",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponseMapStringString"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponseMapStringString"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponseString"
                }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponseString"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponseString"
                }
              }
            }
          }
        }
      }
    },
    "/api/users/logout": {
      "post": {
        "tags": [
          "user-manager-controller"
        ],
        "summary": "Logout user",
        "operationId": "logoutUser",
        "responses": {
          "200": {
            "description": "User logged out successfully",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponseString"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request: Either credentials or token must be provided!",
            "content": {
              "*/*": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/BaseResponseMapStringString"
                    },
                    {
                      "$ref": "#/components/schemas/BaseResponseString"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Authentication process failed!",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponseMapStringString"
                }
              }
            }
          },
          "403": {
            "description": "Invalid authorization parameters. Check JWT or CSRF Token",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponseMapStringString"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponseString"
                }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponseString"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponseString"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerToken": []
          }
        ]
      }
    },
    "/api/users/forgot-password": {
      "post": {
        "tags": [
          "user-manager-controller"
        ],
        "summary": "Forgot password functionality that send email to user to reset it",
        "operationId": "forgotPassword",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "string"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Email to reset password sent successfully to user",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponseString"
                }
              }
            }
          },
          "400": {
            "description": "Validation Error",
            "content": {
              "*/*": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/BaseResponseMapStringString"
                    },
                    {
                      "$ref": "#/components/schemas/BaseResponseString"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponseMapStringString"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponseMapStringString"
                }
              }
            }
          },
          "404": {
            "description": "User with this email does not exist in Keycloak",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponseString"
                }
              }
            }
          },
          "409": {
            "description": "User is not activated. Password can not be reset",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponseString"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponseString"
                }
              }
            }
          }
        }
      }
    },
    "/api/users/create": {
      "post": {
        "tags": [
          "user-manager-controller"
        ],
        "summary": "Create a new user in Keycloak",
        "operationId": "createUser",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UserDTO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "User created successfully in Keycloak",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthenticationResponseDTO"
                }
              }
            }
          },
          "400": {
            "description": "Validation failed",
            "content": {
              "*/*": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/BaseResponseMapStringString"
                    },
                    {
                      "$ref": "#/components/schemas/BaseResponseString"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Authentication process failed!",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponseMapStringString"
                }
              }
            }
          },
          "403": {
            "description": "Only Super Admins can create other Super Admin roles.",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponseMapStringString"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponseString"
                }
              }
            }
          },
          "409": {
            "description": "User already exists in Keycloak",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponseString"
                }
              }
            }
          },
          "500": {
            "description": "Unable to create user in Keycloak",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponseString"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerToken": []
          }
        ]
      }
    },
    "/api/users/authenticate": {
      "post": {
        "tags": [
          "user-manager-controller"
        ],
        "summary": "Authenticate user given credentials",
        "operationId": "authenticateUser",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CredentialsDTO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Authentication token generated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthenticationResponseDTO"
                }
              }
            }
          },
          "400": {
            "description": "Validation failed",
            "content": {
              "*/*": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/BaseResponseMapStringString"
                    },
                    {
                      "$ref": "#/components/schemas/BaseResponseString"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Authentication process failed",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponseMapStringString"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponseMapStringString"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponseString"
                }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponseString"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponseString"
                }
              }
            }
          }
        }
      }
    },
    "/api/users/activate": {
      "post": {
        "tags": [
          "user-manager-controller"
        ],
        "summary": "Activate user",
        "operationId": "activateUser",
        "parameters": [
          {
            "name": "token",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "string"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "User activated and password updated successfully.",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponseString"
                }
              }
            }
          },
          "400": {
            "description": "Invalid token was given as parameter",
            "content": {
              "*/*": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/BaseResponseMapStringString"
                    },
                    {
                      "$ref": "#/components/schemas/BaseResponseString"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponseMapStringString"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponseMapStringString"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponseString"
                }
              }
            }
          },
          "409": {
            "description": "User is already activated",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponseString"
                }
              }
            }
          },
          "500": {
            "description": "Due to an internal error, user has not been activated!",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponseString"
                }
              }
            }
          }
        }
      }
    },
    "/api/admin/roles/create": {
      "post": {
        "tags": [
          "admin-controller"
        ],
        "summary": "Create a new User Role",
        "operationId": "createNewUserRole",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UserRoleDTO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "User role created successfully",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponseVoid"
                }
              }
            }
          },
          "400": {
            "description": "Invalid input data",
            "content": {
              "*/*": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/BaseResponseMapStringString"
                    },
                    {
                      "$ref": "#/components/schemas/BaseResponseString"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Authentication process failed!",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponseMapStringString"
                }
              }
            }
          },
          "403": {
            "description": "Invalid authorization parameters. Check JWT or CSRF Token",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponseMapStringString"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponseString"
                }
              }
            }
          },
          "409": {
            "description": "User role already exists in Keycloak",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponseString"
                }
              }
            }
          },
          "500": {
            "description": "Unable to create and store the new role",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponseString"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerToken": []
          }
        ]
      }
    },
    "/api/users": {
      "get": {
        "tags": [
          "user-manager-controller"
        ],
        "summary": "Retrieve all users from Keycloak",
        "operationId": "fetchUsers",
        "responses": {
          "200": {
            "description": "Users retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserDTO"
                }
              }
            }
          },
          "400": {
            "description": "An unexpected error occured",
            "content": {
              "*/*": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/BaseResponseMapStringString"
                    },
                    {
                      "$ref": "#/components/schemas/BaseResponseString"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponseMapStringString"
                }
              }
            }
          },
          "403": {
            "description": "Invalid authorization parameters. Check JWT or CSRF Token",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponseMapStringString"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponseString"
                }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponseString"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponseString"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerToken": []
          }
        ]
      }
    },
    "/api/users/search": {
      "get": {
        "tags": [
          "user-manager-controller"
        ],
        "summary": "Search user by ID from Keycloak",
        "operationId": "fetchUser",
        "parameters": [
          {
            "name": "userId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "User retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserDTO"
                }
              }
            }
          },
          "400": {
            "description": "An unexpected error occured",
            "content": {
              "*/*": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/BaseResponseMapStringString"
                    },
                    {
                      "$ref": "#/components/schemas/BaseResponseString"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponseMapStringString"
                }
              }
            }
          },
          "403": {
            "description": "Invalid authorization parameters. Check JWT or CSRF Token",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponseMapStringString"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponseString"
                }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponseString"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponseString"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerToken": []
          }
        ]
      }
    },
    "/api/users/ids/role/{userRole}": {
      "get": {
        "tags": [
          "user-manager-controller"
        ],
        "summary": "Retrieve all user IDs per role from Keycloak",
        "operationId": "getAllUserIdsByUserRole",
        "parameters": [
          {
            "name": "userRole",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "User IDs for role retrieved successfully",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponseListString"
                }
              }
            }
          },
          "400": {
            "description": "An unexpected error occured",
            "content": {
              "*/*": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/BaseResponseMapStringString"
                    },
                    {
                      "$ref": "#/components/schemas/BaseResponseString"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponseMapStringString"
                }
              }
            }
          },
          "403": {
            "description": "Invalid authorization parameters. Check JWT or CSRF Token",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponseMapStringString"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponseString"
                }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponseString"
                }
              }
            }
          },
          "500": {
            "description": "Unable to locate requested client ID in Keycloak",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponseString"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerToken": []
          }
        ]
      }
    },
    "/api/users/ids/pilot/{pilotCode}": {
      "get": {
        "tags": [
          "user-manager-controller"
        ],
        "summary": "Retrieve all user IDs for a specific pilot from Keycloak",
        "operationId": "getAllUserIdsByPilotCode",
        "parameters": [
          {
            "name": "pilotCode",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "User IDs retrieved successfully",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponseListString"
                }
              }
            }
          },
          "400": {
            "description": "An unexpected error occured",
            "content": {
              "*/*": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/BaseResponseMapStringString"
                    },
                    {
                      "$ref": "#/components/schemas/BaseResponseString"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponseMapStringString"
                }
              }
            }
          },
          "403": {
            "description": "Invalid authorization parameters. Check JWT or CSRF Token",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponseMapStringString"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponseString"
                }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponseString"
                }
              }
            }
          },
          "500": {
            "description": "Unable to locate requested group ID in Keycloak",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponseString"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerToken": []
          }
        ]
      }
    },
    "/api/users/auth-info": {
      "get": {
        "tags": [
          "user-manager-controller"
        ],
        "summary": "Retrieve Authentication Information based on the JWT token",
        "operationId": "getAuthInfo",
        "responses": {
          "200": {
            "description": "Information about Authentication Information based on the JWT token",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/BaseResponseMapStringString"
                    },
                    {
                      "$ref": "#/components/schemas/BaseResponseString"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponseMapStringString"
                }
              }
            }
          },
          "403": {
            "description": "Invalid authorization parameters. Check JWT or CSRF Token",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponseMapStringString"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponseString"
                }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponseString"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponseString"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerToken": []
          }
        ]
      }
    },
    "/api/admin/roles": {
      "get": {
        "tags": [
          "admin-controller"
        ],
        "summary": "Retrieve all user roles from Keycloak",
        "operationId": "getAllUserRoles",
        "responses": {
          "200": {
            "description": "User roles retrieved successfully",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponseListUserRoleDTO"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request: either credentials or token must be provided!",
            "content": {
              "*/*": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/BaseResponseMapStringString"
                    },
                    {
                      "$ref": "#/components/schemas/BaseResponseString"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Authentication process failed!",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponseMapStringString"
                }
              }
            }
          },
          "403": {
            "description": "Invalid authorization parameters. Check JWT or CSRF Token",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponseMapStringString"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponseString"
                }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponseString"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponseString"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerToken": []
          }
        ]
      }
    },
    "/api/admin/roles/{userRole}/users": {
      "get": {
        "tags": [
          "admin-controller"
        ],
        "summary": "Retrieve all users associated with a specific user role",
        "operationId": "getAllUserByUserRole",
        "parameters": [
          {
            "name": "userRole",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Users associated with the role retrieved successfully",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponseListUserDTO"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request: either credentials or token must be provided!",
            "content": {
              "*/*": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/BaseResponseMapStringString"
                    },
                    {
                      "$ref": "#/components/schemas/BaseResponseString"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Authentication process failed!",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponseMapStringString"
                }
              }
            }
          },
          "403": {
            "description": "Token inserted is invalid. It does not contain any information about the user role",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponseMapStringString"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponseString"
                }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponseString"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponseString"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerToken": []
          }
        ]
      }
    },
    "/api/admin/roles/pilot/{pilotCode}": {
      "get": {
        "tags": [
          "admin-controller"
        ],
        "summary": "Retrieve all user roles from Keycloak filtered by Pilot Code",
        "operationId": "getAllUserRolesPerPilot",
        "parameters": [
          {
            "name": "pilotCode",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "User roles retrieved successfully",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponseListUserRoleDTO"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request: either credentials or token must be provided!",
            "content": {
              "*/*": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/BaseResponseMapStringString"
                    },
                    {
                      "$ref": "#/components/schemas/BaseResponseString"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Authentication process failed!",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponseMapStringString"
                }
              }
            }
          },
          "403": {
            "description": "User of role 'ADMIN' can only retrieve user roles only inside their organization",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponseMapStringString"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponseString"
                }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponseString"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponseString"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerToken": []
          }
        ]
      }
    },
    "/api/admin/roles/names": {
      "get": {
        "tags": [
          "admin-controller"
        ],
        "summary": "Retrieve all user role names from Keycloak",
        "operationId": "getAllUserRoleNames",
        "responses": {
          "200": {
            "description": "User roles retrieved successfully",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponseListString"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request: either credentials or token must be provided!",
            "content": {
              "*/*": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/BaseResponseMapStringString"
                    },
                    {
                      "$ref": "#/components/schemas/BaseResponseString"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Authentication process failed!",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponseMapStringString"
                }
              }
            }
          },
          "403": {
            "description": "Invalid authorization parameters. Check JWT or CSRF Token",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponseMapStringString"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponseString"
                }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponseString"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponseString"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerToken": []
          }
        ]
      }
    },
    "/api/admin/roles/names/pilot/{pilotCode}": {
      "get": {
        "tags": [
          "admin-controller"
        ],
        "summary": "Retrieve all user role names from Keycloak filtered by Pilot Code",
        "operationId": "getAllUserRolesNamesPerPilot",
        "parameters": [
          {
            "name": "pilotCode",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "User role names retrieved successfully",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponseListString"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request: either credentials or token must be provided!",
            "content": {
              "*/*": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/BaseResponseMapStringString"
                    },
                    {
                      "$ref": "#/components/schemas/BaseResponseString"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Authentication process failed!",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponseMapStringString"
                }
              }
            }
          },
          "403": {
            "description": "User of role 'ADMIN' can only retrieve user roles only inside their organization",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponseMapStringString"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponseString"
                }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponseString"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponseString"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerToken": []
          }
        ]
      }
    },
    "/api/admin/pilots": {
      "get": {
        "tags": [
          "admin-controller"
        ],
        "summary": "Retrieve all pilots from Keycloak",
        "operationId": "getAllPilots",
        "responses": {
          "200": {
            "description": "Pilot codes retrieved successfully",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponseListString"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request: either credentials or token must be provided!",
            "content": {
              "*/*": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/BaseResponseMapStringString"
                    },
                    {
                      "$ref": "#/components/schemas/BaseResponseString"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Authentication process failed!",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponseMapStringString"
                }
              }
            }
          },
          "403": {
            "description": "Invalid authorization parameters. Check JWT or CSRF Token",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponseMapStringString"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponseString"
                }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponseString"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponseString"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerToken": []
          }
        ]
      }
    },
    "/api/admin/pilot-roles": {
      "get": {
        "tags": [
          "admin-controller"
        ],
        "summary": "Retrieve all pilot roles from Keycloak",
        "operationId": "getAllPilotRoles",
        "responses": {
          "200": {
            "description": "User roles retrieved successfully",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponseListString"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request: either credentials or token must be provided!",
            "content": {
              "*/*": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/BaseResponseMapStringString"
                    },
                    {
                      "$ref": "#/components/schemas/BaseResponseString"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Authentication process failed!",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponseMapStringString"
                }
              }
            }
          },
          "403": {
            "description": "Token inserted is invalid. It does not contain any information about the user role",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponseMapStringString"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponseString"
                }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponseString"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponseString"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerToken": []
          }
        ]
      }
    },
    "/api/users/delete": {
      "delete": {
        "tags": [
          "user-manager-controller"
        ],
        "summary": "Delete a user by ID from Keycloak",
        "operationId": "deleteUser",
        "parameters": [
          {
            "name": "userId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "User deleted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserDTO"
                }
              }
            }
          },
          "400": {
            "description": "An unexpected error occured",
            "content": {
              "*/*": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/BaseResponseMapStringString"
                    },
                    {
                      "$ref": "#/components/schemas/BaseResponseString"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponseMapStringString"
                }
              }
            }
          },
          "403": {
            "description": "Invalid authorization parameters. Check JWT or CSRF Token",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponseMapStringString"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponseString"
                }
              }
            }
          },
          "409": {
            "description": "User not found in Keycloak",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponseString"
                }
              }
            }
          },
          "500": {
            "description": "Unable to delete user from Keycloak",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponseString"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerToken": []
          }
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "BaseResponseString": {
        "type": "object",
        "properties": {
          "data": {
            "type": "string"
          },
          "errors": {
            "type": "object"
          },
          "message": {
            "type": "string"
          },
          "success": {
            "type": "boolean"
          },
          "timestamp": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "BaseResponseMapStringString": {
        "type": "object",
        "properties": {
          "data": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            }
          },
          "errors": {
            "type": "object"
          },
          "message": {
            "type": "string"
          },
          "success": {
            "type": "boolean"
          },
          "timestamp": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "UserDTO": {
        "type": "object",
        "properties": {
          "userId": {
            "type": "string"
          },
          "username": {
            "type": "string"
          },
          "password": {
            "type": "string"
          },
          "firstName": {
            "type": "string"
          },
          "lastName": {
            "type": "string"
          },
          "email": {
            "type": "string"
          },
          "userRole": {
            "type": "string"
          },
          "pilotRole": {
            "type": "string",
            "enum": [
              "USER",
              "ADMIN",
              "SUPER_ADMIN"
            ]
          },
          "pilotCode": {
            "type": "string",
            "enum": [
              "CRF",
              "ILTAR",
              "SEW",
              "FFT",
              "ALL"
            ]
          }
        }
      },
      "PasswordDTO": {
        "required": [
          "currentPassword",
          "newPassword"
        ],
        "type": "object",
        "properties": {
          "currentPassword": {
            "type": "string"
          },
          "newPassword": {
            "type": "string"
          }
        }
      },
      "AuthenticationResponseDTO": {
        "type": "object",
        "properties": {
          "accessToken": {
            "type": "string"
          },
          "expiresIn": {
            "type": "integer",
            "format": "int32"
          },
          "tokenType": {
            "type": "string"
          },
          "refreshToken": {
            "type": "string"
          },
          "refreshExpiresIn": {
            "type": "integer",
            "format": "int32"
          }
        }
      },
      "BaseResponseAuthenticationResponseDTO": {
        "type": "object",
        "properties": {
          "data": {
            "$ref": "#/components/schemas/AuthenticationResponseDTO"
          },
          "errors": {
            "type": "object"
          },
          "message": {
            "type": "string"
          },
          "success": {
            "type": "boolean"
          },
          "timestamp": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "UserRoleDTO": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "pilotCode": {
            "type": "string",
            "enum": [
              "CRF",
              "ILTAR",
              "SEW",
              "FFT",
              "ALL"
            ]
          },
          "pilotRole": {
            "type": "string",
            "enum": [
              "USER",
              "ADMIN",
              "SUPER_ADMIN"
            ]
          }
        }
      },
      "BaseResponseVoid": {
        "type": "object",
        "properties": {
          "data": {
            "type": "object"
          },
          "errors": {
            "type": "object"
          },
          "message": {
            "type": "string"
          },
          "success": {
            "type": "boolean"
          },
          "timestamp": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "CredentialsDTO": {
        "required": [
          "email",
          "password"
        ],
        "type": "object",
        "properties": {
          "email": {
            "type": "string"
          },
          "password": {
            "type": "string"
          }
        }
      },
      "BaseResponseListString": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "errors": {
            "type": "object"
          },
          "message": {
            "type": "string"
          },
          "success": {
            "type": "boolean"
          },
          "timestamp": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "BaseResponseListUserRoleDTO": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/UserRoleDTO"
            }
          },
          "errors": {
            "type": "object"
          },
          "message": {
            "type": "string"
          },
          "success": {
            "type": "boolean"
          },
          "timestamp": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "BaseResponseListUserDTO": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/UserDTO"
            }
          },
          "errors": {
            "type": "object"
          },
          "message": {
            "type": "string"
          },
          "success": {
            "type": "boolean"
          },
          "timestamp": {
            "type": "string",
            "format": "date-time"
          }
        }
      }
    },
    "securitySchemes": {
      "bearerToken": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}